#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Storymaster
Comment=Visual Story Plotting & World-Building Tool
GenericName=Story Writing Tool
Exec=storymaster %F
Icon=storymaster
Terminal=false
Categories=Office;Publishing;Education;
Keywords=writing;story;plot;worldbuilding;creative;novel;screenplay;character;arc;litographer;lorekeeper;
StartupNotify=true
MimeType=application/x-storymaster;
StartupWMClass=storymaster
Actions=NewProject;OpenProject;

[Desktop Action NewProject]
Name=New Project
Exec=storymaster --new-project

[Desktop Action OpenProject]
Name=Open Project
Exec=storymaster --open-project